body {
	font-family: verdana, sans-serif;
	padding: 20px 20px;
}

a:link { color:#58a; text-decoration:none; }
a:visited { color:#58a;  text-decoration:none; }
a:hover {
	text-decoration: none; 
	background: #bbd0f9;
	color:#237898;
}

.hide { display: none; }

/* Header 
---------------------------------------------------------*/
h1 {
	font-size: 200%; 
	color: #0d3f74;
	margin: 0;
}

#user_info {
	font-size: .9em;
	text-align: right;
}

#navbar { 
	padding-left: 5px;
	background: #0d3f74;
}

#navbar ul { 
	list-style-type: none; 
	padding:6px;
}
#navbar li {
	display: inline;
	padding: 8px;
	text-align: center;
}

#navbar a {
	color: #eee;
	text-decoration: none;
}

#navbar a:hover { 
	color: #ff0; 
	background: #0d3f74;
}

#navbar .highlighted {
	color: #000;
	background: #ccd1e2;
}

/* Sidebar
---------------------------------------------------*/
#sidebar {
	float: left;
	width: 250px;
	background: #e6e8ed;
	border: solid 1px #c5cbd4;
}

#sidebar h2 {
	font-size:85%;
	padding: 4px 0 4px 10px;
	font-weight: bold;
	background: #c5cbd4;
	margin: 0;
}


/* Content
---------------------------------------------------*/
#content {
	margin-left: 270px;
	padding: 0px 20px 0 10px;
}

.section h2 {
	font-size:100%;
	padding-bottom: 5px;
	font-weight: bold;
	color: #0d3f74;
	border-bottom: solid 1px #0d3f74;
}

/* Brief 
---------------------------------------------------------*/
.brief { font-size: 75%; }
.brief h3 { font-size: 90%; }
.brief dl { border-bottom: 1px solid #ccc; }
.brief dd { 
	padding-left: 40px;
}
.brief dt img { 
	border: 1px solid #ccc; 
	float: left;
}
.brief p { line-height: 0.8em; }

/* Detail
---------------------------------------------------------*/
.detail { font-size: 75%; }
.detail h2 { 
	font-size: 150%; 
	color: #0d3f74;
}
.detail h3 { font-size: 100%; }
.detail dd { 
	padding-left: 120px;
}
.detail dt img { 
	border: 1px solid #ccc; 
}
.detail dd p { line-height: 0.8em; }
