<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="http://localhost:8000/static/css/style.css" type="text/css" media="screen" />
	{% block extrahead %}{%endblock%}
</head>
<body>
	<h1>{{ title }}</h1>
	<div id="user_info">
		{% if user.is_authenticated %}
			Howdy, {{ user.username }} [<a href="/accounts/logout">Logout</a>, <a href="/accounts/profile">My Profile</a>]
		{% else %}
			[<a href="/accounts/login">Login</a> or <a href="/accounts/register">Register</a>]
		{% endif %}
	</div>
	<div id="navbar">
	</div>
	<div id="content">
		{% block content%}{%endblock%}
	</div>
</body>
</html>
